.App {
  text-align: center;
}

.form-control {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 100;
  bottom: 0;
  background: rgba(216, 216, 216, 0.856);
  padding: 1rem 2rem;
}
.form {
  display: flex !important;
  flex-direction: row !important;
  max-width: 600px !important;
  margin: auto !important;
}

.input {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}
.btn {
  flex: 0 !important;
}

img {
  width: 100px;
  margin: 1rem 0;
  object-fit: contain;
}

.welcome {
  margin-bottom: 2rem;
  font-weight: normal;
}
